<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Header Style 1</title>
	<link rel="stylesheet" type="text/css" href="../../../sade/css/sade.css">
	<link rel="stylesheet" type="text/css" href="../../../sade/css/header-s1.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>

	<section id = "header" class="container col-100">
		<div class="container header dark-s1">
			<a class = "header-brand" href="#">
				<img class="header-brand-img" src="../../../sade/public/images/brand-logo.png" alt="Brand Name">
				<span class="header-brand-name">Brand Name</span>
			</a>
			<figure id = "show-nav-btn" class="" onclick= "displayNav()">
				<img src= "../../../sade/public/icons/menu-s1-light.png" alt="">
			</figure>
		</div>

		<article id = "nav" class="dark-s1" onclick="displayNav()">
			<a class = "nav-link flex align-center" href="#" target="_blank"><img src="../../../sade/public/social-media-icons/instagram.png" alt="">Link</a>
			<a class = "nav-link flex align-center" href="#"><img src="../../../sade/public/social-media-icons/twitter.png" alt="">Link</a>
			<a class = "nav-link flex align-center" href="#"><img src="../../../sade/public/social-media-icons/github.png" alt="">Link</a>
			<a class = "nav-link flex align-center" href="#"><img src="../../../sade/public/social-media-icons/hacker-rank.png" alt="">Link</a>
		</article>
	</section>


	<script type="text/javascript" src="../../../sade/js/header-s1.js"></script>

</body>
</html>
