<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Style 1</title>
	<link rel="stylesheet" type="text/css" href="../../../sade/css/sade.css">
	<link rel="stylesheet" type="text/css" href="../../../sade/css/skew-header.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Syncopate:400,700" rel="stylesheet">
</head>

<body>
	<div class="row dedede">
		<div class="relative hgt-lg always-ctr col-75">
			<p class="">Próximos Partidos</p>
			<div class="absolute skew-left-40 bdr-top-m z-1"></div>
		</div>
		<div class="n-margin always-ctr col-40 bg-mex-team">
			<p class="team-name over-green">MEX</p>
		</div>
	</div>

	<script type="text/javascript" src="../../../sade/js/header-s1.js"></script>

</body>
</html>
