
/* Card Component */


/* Card Styles */


/* Generic Style */

.card-style-name{
  color: #ffffff;
  background-color: #000000;
}

.card-style-name h3{
  font-size: 1.8rem;
  margin: 0 0 .8rem 0;
}

.card-style-name p{
  margin: 0 0 1rem 0;
}



/* Style: 1 */


.card-style-1{
  color: #abb2be;
  font-size: 1.2rem;
  line-height: 2rem;
  min-height: 30rem;
  margin: 3rem 0;
}

.card-style-1 h2{
  color: #000000;
  font-size: 1.8rem;
}

.card-style-1 h6{
  color: #abb2be;
  font-size: .8rem;
}

.card-style-1 p{
}

/* Style: insta-post */

.card-insta-post{

}


.card-insta-post .post-header{
  margin: 1rem;
  line-height: 1.3rem;
}

.card-insta-post .post-user-name{
  color: #ffffff;
  font-weight: 500;
}

.card-insta-post .post-location{
  font-size: .8rem;
}

.user-post-picture{
  width: 3rem;
  height: 3rem;
}


.icon-official {
  width: 1rem;
  height: 1rem;
}



.card-insta-post .comments{
  line-height: 2rem;
}

.card-insta-post .hashtag{
  color: #ff006c;
}

.card-insta-post .post-date{
  font-size: .8rem;
  color: #777d87;
}





/* Style: teamVsTeam */

.t-vs-t{
  border: .05rem solid #444444;
  border-radius: .3rem;
}

.t-vs-t:hover{
  border: .05rem solid  #2afd9c;
}



.t-vs-t img{
  border-radius: 3rem;
  width: 4rem;
  height: 4rem;
}

.t-vs-t h2{
  background-color: #1a1d21;
  border-radius: .5rem;
  width: 4rem;
  height: 4rem;
}


.t-vs-t h3{
  font-family: 'Syncopate', monospace;

}

.tournament{
  border-top: .05rem solid #292d34;
  color: #888888;
  font-size: .8rem;
}

.t-vs-t .match-time{
  font-size: .8rem;
  color: #ffffff;
}

.t-vs-t .outline{
  /*border: 2px solid #292d34;
  border-radius: .3rem;*/
  padding: 1rem 1rem;
}



.t-vs-t .match-month{
  color: #999999;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.t-vs-t .match-date{
  color: #FFFFFF;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.t-vs-t .amPm{
  font-size: .8rem;
  font-weight: 400;
}


.line-div-sm{
  background-color: #ffffff;
  height: .1rem;
  width: 100%;
}

.moreLess{
  border: 1px solid #555555;
  border-radius: 2px;
  padding: .1rem .5rem .2rem .5rem;
  line-height: 1rem;
}

.moreLess:hover{
  color: #000000;
  background-color:#2afd9c;
  border: 1px solid #2afd9c;;
}



/* Responsive Breakpoints */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

  body{
    max-width: 828px;
    margin: 0 auto;
  }

  .card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .t-vs-t{
    margin-left: .5rem;
    margin-right: .5rem;
    width: 350px;

  }

  .footer{
    padding: 10rem 0 4rem;
    display: flex;
    flex-direction: row;
  }

  .footer-brand{
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .footer-description{
    margin: 0 auto;
  }

  .footer-brand-name{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    padding-top: .5rem;
    padding-left: 1rem;
  }

  .tags{
    display: flex;
    flex-direction: row;
  }

  .tags ul{
    padding-right: 2rem;
  }

  .footer-legal{
  }

}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
