
/* Header Component */

#header{

}

.header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.25rem;
}

a.header-brand{
  text-decoration: none;
}

.header-brand-img{
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
}

.header-brand-name{
  font-size: 1.2rem;
}


#show-nav-btn {
  display: block;
  padding: .8rem;
}

#show-nav-btn img {
  height: 1.8rem;
  width: 1.8rem;
}

/* Nav Component */

#nav{
  display: none;
  font-size: 1.2rem;
  color: #dedede;
}

.nav-link{
  background-color: #000000;
  padding: 2rem 1.6rem;
  transition:.2s;
}

.nav-link:hover{
  background-color: #fc1157;
  color: #ffffff;
  text-decoration: none;
  transition:.2s;

}

.nav-link img{
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 1rem 0 0;
}



/* Responsive Breakpoints */
@media (min-width: 576px) {
  #nav{
    font-size: 1.5rem;
  }

}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
