/*   RESET    */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align: middle;
    background:transparent;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
  font-family: sans-serif; */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 100%;
}


body {
  font-size: 16px;
  font-family: 'Roboto', monospace;
  min-height: 768px;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover{text-decoration: underline;}

img {width: 100%;}

ul, ol, li {list-style-type: none;}


/* Display Flex */

.container{margin: 0 auto;}

.max-fixed{max-width: 1366px;}

.min-fixed{min-width: 1366px;}


.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap{flex-wrap: wrap;}

.flex{display: flex;}

/* Align Stuff */
.align-center{align-items: center;}
.align-end{align-items: flex-end;}


/* Justify Stuff */
.justify-center{justify-content: center;}
.justify-end{justify-content: flex-end;}

/* space-between */
.space-btw{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.always-ctr{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;;
}


/* Relative Absolute Settings */
.relative{
  position: relative;
}

.absolute{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #FFFFFF;
}



/* Button Settings */

.btn-generic{
  background-color: #007bff;
  color: #ffffff;
  border-radius: .3rem;
  padding: .8rem 1rem;
}

.btn-pill{
  background-color: #fc1157;
  color: #ffffff;
  border-radius: 3rem;
  padding: .8rem 2rem;
}

.btn-pill-grad{
  background-image: linear-gradient(to right, #ff006c , #fc11a6);
  color: #ffffff;
  border-radius: 5rem;
  padding: .8rem 2rem;
}



/* transparency Settings */
.ghost-90{opacity: .90;}
.ghost-75{opacity: .75;}
.ghost-65{opacity: .65;}
.ghost-50{opacity: .5;}
.ghost-25{opacity: .25;}
.ghost-10{opacity: .1;}


/* Background Color Settings */

.bg-dark-s1{
  background-color: #202329;
  color: #dedede;
}

.bg-dark-s2{
  background-color: #1a1d21;
  color: #dedede;
}

.bg-dark-g1{
  background-image: linear-gradient(to top, #202329, #24272e );
  color: #dedede;
}


.dark-s1{
  background-color: #202329;
  color: #dedede;
}

.dark-s2{
  background-color: #1a1d21;
  color: #dedede;
}

.dark-g1{
  background-image: linear-gradient(to top, #202329, #24272e );
  color: #dedede;
}



/* Img Settings */

.img-fit-400{
  max-height: 400px;
  object-fit: cover;
  width: 100%;
}


/* Colors */
.dedede {color: #dedede;}
.green {color: #2afd9c;}
.over-green {color: #004022;}
.dark {color: #1a1d21;}


/* Columns Width */

.col-100 { width: 100%;}
.col-95 { width: 95%; }
.col-90 { width: 90%; }
.col-85 { width: 85%; }
.col-80 { width: 80%; }
.col-75 { width: 75%; }
.col-70 { width: 70%; }
.col-66 { width: 66.66%;}
.col-60 { width: 60%; }
.col-55 { width: 55%; }
.col-50 { width: 50%; }
.col-45 { width: 45%; }
.col-40 { width: 40%; }
.col-33 { width: 33.33%;}
.col-30 { width: 30%; }
.col-25 { width: 25%; }
.col-20 { width: 20%; }
.col-15 { width: 15%; }
.col-10 { width: 10%; }


/* Margin Settings */
/* Margin X */
.mx-xs{
  margin-right: .5rem;
  margin-left: .5rem;
}

.mx-sm{
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-md{
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mx-lg{
  margin-right: 3rem;
  margin-left: 3rem;
}

/* Margin Y */
.my-xs{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-sm{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-md{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-lg{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Margin Top */
.mt-xs{ margin-top: .5rem;}
.mt-sm{ margin-top: 1rem;}
.mt-md{ margin-top: 1.5rem;}
.mt-lg{ margin-top: 3rem;}

/* Margin Right */
.mr-xs{ margin-right: .5rem;}
.mr-sm{ margin-right: 1rem;}
.mr-md{ margin-right: 1.5rem;}
.mr-lg{ margin-right: 3rem;}

/* Margin Bottom */
.mb-xs{ margin-bottom: .5rem;}
.mb-sm{ margin-bottom: 1rem;}
.mb-md{ margin-bottom: 1.5rem;}
.mb-lg{ margin-bottom: 3rem;}

/* Margin left */
.ml-xs{ margin-left: .5rem;}
.ml-sm{ margin-left: 1rem;}
.ml-md{ margin-left: 1.5rem;}
.ml-lg{ margin-left: 3rem;}

/* Padding Settings */
/* Padding X */
.px-xs{
  padding-right: .5rem;
  padding-left: .5rem;
}

.px-sm{
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-md{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.px-lg{
  padding-right: 3rem;
  padding-left: 3rem;
}

/* Margin Y */
.py-xs{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-sm{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-md{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-lg{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Padding Top */
.pt-xs{ padding-top: .5rem;}
.pt-sm{ padding-top: 1rem;}
.pt-md{ padding-top: 1.5rem;}
.pt-lg{ padding-top: 3rem;}

/* Padding Right */
.pr-xs{ padding-right: .5rem;}
.pr-sm{ padding-right: 1rem;}
.pr-md{ padding-right: 1.5rem;}
.pr-lg{ padding-right: 3rem;}

/* Padding Bottom */
.pb-xs{ padding-bottom: .5rem;}
.pb-sm{ padding-bottom: 1rem;}
.pb-md{ padding-bottom: 1.5rem;}
.pb-lg{ padding-bottom: 3rem;}

/* Padding left */
.pl-xs{ padding-left: .5rem;}
.pl-sm{ padding-left: 1rem;}
.pl-md{ padding-left: 1.5rem;}
.pl-lg{ padding-left: 3rem;}



/* Responsive Breakpoints */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
