<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Card Style 1</title>
	<link rel="stylesheet" type="text/css" href="../../../sade/css/sade.css">
	<link rel="stylesheet" type="text/css" href="../../../sade/css/card-s1.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>

	<section id = "card" class="container col-95">
		<article class="relative-body card-style-name">
			<figure class="ghost-65">
				<img class = "img-fit-400" src="../../../sade/public/images/varjo-3.jpg" alt="">
			</figure>
			<div class="content-over-img min-padding column justify-center">
				<h3>Hi There</h3>
				<p>Goint to make a card</p>
				<a class = "btn-md blue btn-generic" href="#">Link here</a>
			</div>
		</article>
	</section>


	<script type="text/javascript" src="./js/main.js"></script>

</body>
</html>
