
/* Card Component */

#card{
  font-size: 1.2rem;
}


.card-style-name{
  color: #ffffff;
  background-color: #000000;
  border-radius: .25rem;
}

.card-style-name h3{
  font-size: 1.8rem;
  margin: 0 0 .8rem 0;
}

.card-style-name p{
  margin: 0 0 1rem 0;
}



/* Responsive Breakpoints */
@media (min-width: 576px) {
  #card{
    font-size: 1.5rem;
  }

}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
