<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nav Style 1</title>
	<link rel="stylesheet" type="text/css" href="../../../sade/css/sade.css">
	<link rel="stylesheet" type="text/css" href="../../../sade/css/footer-s1.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>

	<section class="container dark-s1">

		<footer id = "footer" class="container col-80">

			<div id="footer-brand" class=" pb-md">
				<figure>
					<img src="../../../sade/public/images/brand-logo.png" alt="">
				</figure>
				<h3>Alex Miranda</h3>
				<p>@mirantrix</p>
			</div>

			<div id="footer-description" class=" pb-md">
				<h4>About</h4>
				<div class="">
					<p>Determination leads to innovation. Logic and Creativity can get along. Everything will be Documented. {Hack Life}</p>
				</div>
			</div>

			<div id="footer-social-media" class="pb-md flex auto-nav">
				<h4>Social Media</h4>
				<div class="flex wrap">
					<a class = "footer-link" href="#"><img src="../../../sade/public/social-media-icons/instagram.png" alt=""></a>
					<a class = "footer-link" href="#"><img src="../../../sade/public/social-media-icons/twitter.png" alt=""></a>
					<a class = "footer-link" href="#"><img src="../../../sade/public/social-media-icons/github.png" alt=""></a>
					<a class = "footer-link" href="#"><img src="../../../sade/public/social-media-icons/hacker-rank.png" alt=""></a>
				</div>
			</div>

			<div id="footer-navigation" class="pb-md">
				<h4>Navigation</h4>
				<div class="column">
					<a class = "footer-link" href="#"><span>Portfolio</span></a>
					<a class = "footer-link" href="#"><span>Services</span></a>
					<a class = "footer-link" href="#"><span>Products</span></a>
					<a class = "footer-link" href="#"><span>About</span></a>
				</div>
			</div>

			<div id="footer-legal" class="row">
				<span>Mirantrix®</span>
				<span>All Rights Reserved</span>
				<span class="legal-year">2019</span>
			</div>

		</footer>
	</section>

	<script type="text/javascript" src="./js/main.js"></script>

</body>
</html>
